.main-heading {
  color: $Grayish-Blue;
  text-align: center;
  font-size: 3.2rem;
  line-height: normal;
}

.card__heading {
  color: $Light-Grayish-Blue;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.card__price {
  color: $Dark-Grayish-Blue;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 7.1rem;
  letter-spacing: -2.16px;
}
